body{
    background: url("src/NuPogodiFrame.png");
    background-repeat: no-repeat;
    width: 1435px;
    height: 794px;
    margin-left: 5px;
}


#canvas{
    border: 5px solid yellow;
    margin-left: 340px;
    margin-top: 145px;
    width: 735px;
    height: 470px;
}

/*chicken{
    background: url("src/chickenLeft.png");
    margin-left: 200px;
    height: 80px;
    width: 70px;

}*/